*.class
*.jar
.cpcache/
.devenv*
.direnv
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
.venv/
/.clj-kondo/.cache/
/checkouts/
/classes/
/learning-dashboard/
/lib/
/loom
/node_modules/
/out/
/qc/
/target/
catboost_info/
devenv.local.nix
pom.xml
pom.xml.asc
sum-product-dsl/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

