*.class
*.jar
.cpcache/
.devenv*
.direnv
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
.venv/
/.clj-kondo/.cache/
/cljs-test-runner-out/
/checkouts/
/classes/
/learning-dashboard/
/lib/
/loom
/node_modules/
/out/
/qc/app/
/qc/samples/
/qc/specs/
/target/
catboost_info/
devenv.local.nix
pom.xml
pom.xml.asc
sum-product-dsl/
.lsp/.cache/
.lsp/sqlite.*.db

.direnv/
