{:deps {babashka/fs {:mvn/version "0.1.6"}
        cheshire/cheshire {:mvn/version "5.10.0"}
        clj-commons/clj-yaml {:mvn/version "0.7.106"}
        cljstache/cljstache {:mvn/version "2.0.6"}
        com.cognitect/transit-clj {:mvn/version "1.0.324"}
        io.github.inferenceql/inferenceql.gpm.sppl {:git/sha "cb5c76e337e73928bc55a4dc78feceda3d76144a"}
        io.github.inferenceql/inferenceql.inference {:git/sha "e1dcd0f2721dcdef388f8270dc9bd80eecde3ef9"}
        io.github.inferenceql/inferenceql.query {:git/sha "6f38c6db21a5ccdac69f0cddab3e1fcbbbc83d7a"}
        lambdaisland/regal {:mvn/version "0.0.143"}
        medley/medley {:mvn/version "1.4.0"}
        org.babashka/cli {:mvn/version "0.3.34"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.54"}
        org.clojure/data.csv {:mvn/version "1.0.0"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        selmer/selmer {:mvn/version "1.12.40"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}}
           :clj-test {:extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "48c3c67f98362ba1e20526db4eeb6996209c050a"}}
                      :main-opts ["-m" "cognitect.test-runner"]
                      :exec-fn cognitect.test-runner.api/test}
           :cljs-test {:extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}}
                       :main-opts ["-m" "cljs-test-runner.main"]}
           :exec {:extra-deps {org.babashka/cli {:mvn/version "0.3.34"}}
                  :main-opts ["-m" "babashka.cli.exec"]}}}
