{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/clojurescript {:mvn/version "1.10.866"}
        org.clojure/data.csv {:mvn/version "1.0.0"}
        clj-commons/clj-yaml {:mvn/version "0.7.106"}
        cheshire/cheshire {:mvn/version "5.10.0"}
        medley/medley {:mvn/version "1.3.0"}
        selmer/selmer {:mvn/version "1.12.40"}
        probcomp/inferenceql.inference {:git/url "git@github.com:probcomp/inferenceql.inference.git"
                                        :sha "dac95f4d2035ab28ad8af980e9ed21eec21d3451"}
        probcomp/inferenceql.query {:git/url "git@github.com:probcomp/inferenceql.query.git"
                                    :sha "9cfd55152534f4a235eddd9252d86404041d92e4"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {com.lambdaisland/kaocha-cljs {:mvn/version "1.0.93"}
                               lambdaisland/kaocha {:mvn/version "1.0-612"}
                               org.clojure/test.check {:mvn/version "1.1.0"}}}
           :xcat-import {:exec-fn inferenceql.auto-modeling.xcat/import}}}
